
/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */
}

a:hover  {
    /* color: inherit; */
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
    list-style: none;
    list-style-type: none;
}

h1, h2, h4, h5, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
    list-style-type: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
    transition: 0.1s linear;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


body {
    background-color: #2b2b2b;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    position: relative;
}

.sub-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    position: relative;
    /* margin-top: calc(70vw * 0.1); */
}

.image-face {
    width: calc(70vw * 0.35);
    height: calc(70vw * 0.35);
    border-radius: 50%;
    margin: 0px calc(70vw * 0.03);
}

h1 {
    font-family: 'Lato', sans-serif;
    color: #a4a5a6;
    font-size: calc(70vw * 0.07);
    font-weight: 300;
}

h2 {
    font-family: 'Lato', sans-serif;
    color: #e0a80d;
    font-size: calc(70vw * 0.07);
    font-weight: 700;
}

h3 {
    font-family: 'Lato', sans-serif;
    color: #a4a5a6; 
    font-size: calc(70vw * 0.05);
    font-weight: 400;
}

:root {
    --mouse-x: .5;
    --mouse-y: .5; 
}

body {
    height: 100%;
    background-image: radial-gradient(
        circle calc(100vw) at calc(var(--mouse-x) * 100%) calc(var(--mouse-y) * 100%),
        transparent,
        rgb(163, 78, 78)
    );
}

/* body {
    height: 100%;
    background-image: radial-gradient( at calc(var(--mouse-x) * 100%) calc(var(--mouse-y) * 100%), transparent, rgb(163, 78, 78));
} */